[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
symbolic-links=0
skip_name_resolve
skip_external_locking
default_storage_engine = InnoDB
transaction_isolation = READ-COMMITTED

max_allowed_packet=300M

## network
max_allowed_packet = 300M
max_connections = 1000
max_connect_errors = 10000

## cache size
table_open_cache = 2000
thread_cache_size = 100
query_cache_type = 1
query_cache_size = 10M
binlog_cache_size = 16M
max_heap_table_size = 64M
tmp_table_size = 64M

## innodb
innodb_buffer_pool_size = 1G
innodb_data_file_path = ibdata1:10M:autoextend
innodb_log_buffer_size = 16M
innodb_log_file_size = 512M
innodb_doublewrite = 0
innodb_lock_wait_timeout = 5
innodb_support_xa = 1
innodb_flush_log_at_trx_commit = 0
innodb_flush_method = O_DIRECT
innodb_file_per_table
skip-innodb_doublewrite
