[mysqld]
skip_name_resolve = ON
skip_external_locking = ON
default_storage_engine = InnoDB
transaction_isolation = READ-COMMITTED

## network
max_allowed_packet = 300M
max_connections = 1000
max_connect_errors = 10000

## innodb
innodb_buffer_pool_size = 1G
# innodb_data_file_path = ibdata1:10M:autoextend
innodb_log_buffer_size = 16M
innodb_log_file_size = 512M
innodb_doublewrite = 0 # for ISUCON
innodb_flush_method = O_DIRECT
innodb_lock_wait_timeout = 5
innodb_flush_log_at_trx_commit = 0 # for ISUCON
innodb_file_per_table = ON
innodb_flush_neighbors = 0       # For SSD.
innodb_random_read_ahead = false # For SSD.
innodb_read_ahead_threshold = 0  # For SSD.

## Saving and Restoring the Buffer Pool State
innodb_buffer_pool_dump_at_shutdown = 1
innodb_buffer_pool_load_at_startup = 1
innodb_buffer_pool_dump_pct = 100

disable-log-bin = 1 # if you don't use replication

sync_binlog = 0 # for ISUCON
sync_relay_log = 0 # for ISUCON

slow_query_log = 1
log_slow_extra = 1 # MySQL 8.0.14 above
slow_query_log_file = /var/log/mysql/slow.log
long_query_time = 0

# innodb_io_capacity = 2000 # 要検証
# innodb_io_capacity_max = 4000 # 要検証

## https://dba.stackexchange.com/questions/216352/inserts-in-mysql-8-are-slower-than-inserts-in-mysql-5-7
# transaction_write_set_extraction = OFF # for ISUCON on MySQL8
