[mysqld]
skip_name_resolve=ON
skip_external_locking=ON
default_storage_engine=InnoDB
transaction_isolation=READ-COMMITTED

## network
max_allowed_packet=300M
max_connections=2000
max_connect_errors=10000

## innodb
## refs: https://www.percona.com/blog/innodb-performance-optimization-basics-updated
innodb_buffer_pool_size=1G
innodb_log_buffer_size=16M
# deprecated since 8.0.30. refer to innodb_redo_log_capacity
# innodb_log_file_size = 512M
# 8.0.30+
innodb_redo_log_capacity=2048M

# innodb_lock_wait_timeout=5

# for ISUCON
innodb_doublewrite=0
innodb_flush_method=O_DIRECT_NO_FSYNC # O_DIRECT
innodb_flush_log_at_trx_commit=0

# 8.4では既定128なので不要 refs: https://www.percona.com/blog/surprise-with-innodb_doublewrite_pages-in-mysql-8-0-20/
# innodb_doublewriteを無効にしているなら関係ない
# innodb_doublewrite_pages = 128

# for SSD
innodb_flush_neighbors=0
innodb_random_read_ahead=OFF
innodb_read_ahead_threshold=56

# (8.0.22+)コアが少ない環境はOFFにした方が良い https://qiita.com/hmatsu47/items/06489ef05bfcaaf310f3
innodb_log_writer_threads=OFF

# OS側で /dev/shm を十分に確保しておくこと
# 起動前にtmpdirを作成されるようにすること
# 余裕があればフォールバックとして:/tmp も追加可（ラウンドロビン使用）
tmpdir=/dev/shm/mysqltmp
# tmpdir=/dev/shm/mysqltmp:/tmp

internal_tmp_mem_storage_engine=TempTable
temptable_max_ram=1G
temptable_use_mmap=ON

## 解析系
performance_schema=OFF

## 再起動時のinnodb_bufferの復帰が必要なら
innodb_buffer_pool_dump_at_shutdown=1
innodb_buffer_pool_load_at_startup=1
innodb_buffer_pool_dump_pct=100

## binlogを切る
skip-log-bin
sync_binlog=0
sync_relay_log=0

## MySQL 8.0 only refs: https://dba.stackexchange.com/questions/216352/inserts-in-mysql-8-are-slower-than-inserts-in-mysql-5-7
# transaction_write_set_extraction=OFF

## for slow query
slow_query_log=1
log_slow_extra=1
slow_query_log_file=/var/log/mysql/slow.log
long_query_time=0

## dangerous
# ページの整合性検知を捨てる
# innodb_checksum_algorithm=none

## 多コア・高QPS向け

# 多コア/高並列で効く場合あり
# innodb_log_writer_threads=ON

# 書込みピークが長く息切れするなら拡大（2→4→8Gで刻む）
# innodb_redo_log_capacity=4096M
# innodb_redo_log_capacity=8192M

# 強いNVMe向け。過大は逆効果もあるため計測必須
# innodb_io_capacity=2000
# innodb_io_capacity_max=4000

# innodb_buffer_pool_instances=2

# 適応ハッシュインデックス無効化 refs: https://inside.pixiv.blog/2021/10/21/154500
# innodb_adaptive_hash_index=OFF

## 多コア・高QPSで「本当に」I/O待ちが顕著な時だけ（要ベンチ）
# innodb_write_io_threads=8
# innodb_read_io_threads=8
